<div class="row">
  <div class="col-sm-11">
    <select [(ngModel)]="conference" (change)="filterByConference()">
      <option value="" selected disabled>
        {{ loading ? "Loading..." : "Filter by Conference" }}
      </option>
      <option [value]="c" *ngFor="let c of allConferences">
        {{ c }} Conference
      </option>
    </select>
    <select [(ngModel)]="division" (change)="filterByDivision()">
      <option value="" selected disabled>
        {{ loading ? "Loading..." : "Filter by Division" }}
      </option>
      <option [value]="d" *ngFor="let d of filteredDivisions">
        {{ d }} Division
      </option>
    </select>
    <select #teamSelect>
      <option value="" selected disabled>
        {{ loading ? "Loading..." : "Select Team" }}
      </option>
      <option [value]="team.id" *ngFor="let team of filteredTeams">
        {{ team.full_name }}
      </option>
    </select>
    <button class="primary" (click)="trackTeam(teamSelect.value)">
      Track team
    </button>
  </div>
</div>
<div class="row">
  <app-team-stats
    class="col-sm-4"
    *ngFor="let team of getTrackedTeams()"
    [team]="team"
  >
  </app-team-stats>
</div>
